body {
    background-color: lightgreen;
    color: white;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 12em;
    margin: 0 0.1em 0 0;
}

h2 {
    font-size: 5em;
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

p {
    width: 50%;
    font-size: 1.5em;
    float: right;
    margin-right: 30px;
}

.mainnavbar {
    text-align: center;
    font-size: 1.2em;
    padding: 40px;
    margin-bottom: 10%;
}

a {
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: lightgreen;
}

#footer {
    width: 100%;
    background-color: white;
    color: lightgreen;
    padding: 10px;
    text-align: center;
}

article {
    text-align: right;
    margin: 0;
    display: block;
    width: 100%;
    height: 100vh;
}

iframe {
    margin-top: 3%;
    margin-left: 5%;
    float: left;
}

@media screen and (max-width: 700px) {
    body {
    background-color: blue;
    }

    footer {
        color: blue;
    }

    a:hover {
        color: blue;
    }
    h1 {
        font-size: 5em;
        padding-right: 20px;
    }
    
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1em;
    }

    .mainnavbar {
        font-size: 1em;
    }

    article {
        font-size: 0.8em;
        padding: 0px 20px 20px 0px;

        a {
            padding: 10px;
        }
    }

    p {
        font-size: 1em;
    }
}